@import "colors";
@import "fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
// html{
//   scroll-behavior: none;
// }
body {
  font-family: "Inter", "Arial", "sans-serif";
}
