$color-base: #212322;
$color-primary: #272928;
$color-primary-accent: #323433;
$color-secondary: #52b038;
$color-secondary-accent: #39692c;
$color-tertiary: #858585;
$color-tertiary-accent: #909190;
$color-white: #ffffff;